.header {
    padding: 10px 20px;
    background-color: #1c1c1c;
    border-bottom: 1px solid #333;
}

/* Canh giữa menu icon và logo phía trên nếu cần */
.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.menu-icon {
    color: WHITE;
    font-size: 24px;
    cursor: pointer;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
}

    .logo img {
        padding-top: 13px;
        width: 195px;
        height: auto;
    }
/* Đường kẻ ngang */
.divider {
    margin-top: 10px;
    height: 1px;
    background-color: #666;
    width: 100%;
}

/* Thanh tìm kiếm chiếm hết chiều rộng */
.search-bar {
    display: flex;
    align-items: center;
    background-color: #333;
    border-radius: 5px;
    padding: 10px 15px;
    width: 100%; /* Chiếm hết chiều rộng */
    margin-top: 10px;
}

    .search-bar input {
        border: none;
        background: transparent;
        color: white;
        padding: 10px;
        width: 100%; /* Chiếm hết không gian bên trong */
        font-size: 16px;
    }

        .search-bar input::placeholder {
            color: #bbb;
        }

.search-icon {
    font-size: 24px; /* Kích thước biểu tượng tìm kiếm */
    margin-right: 15px;
    color: #bbb;
}


.search-bar input:focus {
    outline: none;
}


.logo {
    font-size: 24px;
    font-weight: bold;
}

.services {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

    .services img {
        width: 150px;
        height: 63px;
        object-fit: contain;
    }

.content {
    padding: 20px;
}

.public-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}


/*code moi*/
.sidebar {
    position: fixed;
    left: -250px; /* Initially hide the sidebar */
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #1c1c1c;
    transition: left 0.3s ease; /* Slide in transition */
    padding-top: 20px;
    z-index: 1000;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

    .sidebar.open {
        left: 0; /* Move the sidebar into view */
    }

    .sidebar ul {
        list-style-type: none;
        padding: 0;
    }

        .sidebar ul li {
            padding: 15px;
            font-size: 18px;
            text-align: left;
        }

            .sidebar ul li a {
                text-decoration: none;
                color: white;
                display: flex;
                align-items: center;
            }

                .sidebar ul li a:hover {
                    background-color: #333;
                    border-radius: 4px;
                }

                .sidebar ul li a i {
                    margin-right: 10px;
                }
